// FORMS
//

label {
  display: block;
  font-weight: bold;
  margin-bottom: .3rem;
  font-family: $font-base;
  font-size: modular-scale(0);
}

select,
textarea,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 8px 15px;
  background-color: $white;
  border: 1px solid $iron;
  border-radius: $border-radius;
}

select,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="reset"],
input[type="password"] {
  height: 40px;
}

textarea { resize: vertical; }

.form__field {
  position: relative;
  margin-bottom: modular-scale(0);
}

.form__field--required {
  label {
    &::after {
      content: "*";
      color: $red;
      margin-left: 2px;
    }
  }
}

.form__alert {
  color: $white;
  font-size: modular-scale(-1);
  padding: 2px 8px;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: -2px;
  display: none;
}

.form__msg {
  padding-top: 2px;
  font-size: modular-scale(-2);
  color: rgba($grey, .6);
  margin-bottom: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  position: absolute;
}

.form__field--danger {
  select,
  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="submit"],
  input[type="reset"],
  input[type="password"] {
    border: 1px solid $red;
  }
  .form__alert {
    background-color: $red;
    display: block;
  }
}
