.label--info {
	padding: 5px;
	box-sizing: border-box;
	height: 25px;
	width: 70px;
	background-color: #5bc0de;
	border-radius: 5px;
	// color: white;

}
.title__label{
	position:absolute;
	top: -21px;
	left: 17px;
}